audit:  # Configurations for auditing
  random_seed: 1234  # Integer specifying the random seed
  attack_list:
    rmia:
      training_data_fraction: 0.3  # Fraction of the auxilary dataset to use for this attack (in each shadow model training)
      attack_data_fraction: 0.1 # Fraction of auxiliary dataset to sample from during attack
      num_shadow_models: 5 # Number of shadow models to train
      online: True # perform online or offline attack
      temperature: 2
      gamma: 2.0
      offline_a: 0.33 # parameter from which we compute p(x) from p_OUT(x) such that p_IN(x) = a p_OUT(x) + b.
      offline_b: 0.66
    qmia:
      training_data_fraction: 0.1  # Fraction of the auxilary dataset (data without train and test indices) to use for this attack
      epochs: 10  # Number of training epochs for quantile regression
    population:
      attack_data_fraction: 0.1  # Fraction of the auxilary dataset to use for this attack

  report_log: "./leakpro_output/results"  # Folder to save the auditing report
  target_model_folder: "./target"
  attack_folder: "attack_objects"
  attack_type: "mia"
  split_method: "no_overlapping"  # Method of creating the attack dataset

target:
  module_path: "./leakpro/shadow_model_blueprints.py"
  model_class: "ConvNet"
  trained_model_path: "./target/target_model.pkl" 
  trained_model_metadata_path: "./target/model_metadata.pkl"
  data_path: "./target/data/cinic10.pkl"


shadow_model:
  storage_path: "./leakpro_output/attack_objects/shadow_models"
  # Path to a Python file with the shadow model architecture
  module_path: "./leakpro/shadow_model_blueprints.py"
  #
  # [Optional] Define a shadow model (if none, shadow model will follow the target model)
  # Name of the class to instantiate from the specified file
  # model_class_path: "ConvNet"
  # include_target_training_data: True
  # include_target_testing_data: True
  # optimizer: 
  #   name: sgd #adam, sgd, rmsprop
  #   lr: 0.01
  #   momentum: 0.9
  #   weight_decay: 0
  # loss: 
  #   name: crossentropyloss # crossentropyloss, nllloss, mseloss
  # # Initialization parameters
  # init_params: {}


