run: # Configurations for a specific run
  random_seed: 1234 # Integer number of specifying random seed
  log_dir: target # String for indicating where to save all the information, including models and computed signals. We can reuse the models saved in the same log_dir.

train: # Configuration for training
  type: pytorch # Training framework (we only support pytorch now).
  num_target_model: 1 #Integer number for indicating how many target models we want to audit for the privacy game
  epochs: 3 # Integer number for indicating the epochs for training target model. For speedyresnet, it uses its own number of epochs.
  batch_size: 256 # Integer number for indicating batch size for training the target model. For speedyresnet, it uses its own batch size.
  optimizer: SGD # String which indicates the optimizer. We support Adam and SGD. For speedyresnet, it uses its own optimizer.
  learning_rate: 0.01 # Float number for indicating learning rate for training the target model. For speedyresnet, it uses its own learning_rate.
  momentum: 0.9
  weight_decay: 0.0 # Float number for indicating weight decay for training the target model. For speedyresnet, it uses its own weight_decay.
  test_batch_size: 128
  num_classes: 10 # Integer number for indicating the number of classes in the dataset

data: # Configuration for data
  dataset: cifar10 # String indicates the name of the dataset
  f_train: 0.4999 # Float number from 0 to 1 indicating the fraction of the train dataset
  f_test: 0.4999 # Float number from 0 to 1 indicating the size of the test set
  data_dir: ./target/data # String about where to save the data.


